body {
    width: 90%;
    text-align: center;
    margin: 0 auto;

}

#content {overflow: auto}

#content, #footer {
    margin: 1%;
}

#chart-options, #state-selection, #county-selection {
    width: 30%;
    float: left;
    margin: 1%;
}

#chart-container, #chart-options, #state-selection, #county-selection {
    margin-bottom: 1em;
}

#footer {
    background-color: #efefef;
    padding: .5em 0;
}

li {
    display: inline;
    padding: 0.5em;
}

a:link, a:visited { 
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    color: green;
    text-decoration: underline;
}
